<?xml version="1.0" encoding="UTF-8"?>
<!-- BoardMapper.xml -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.example.demo.persistence.NoticeDAOImpl">
  

	<!-- 전체 글 수 조회 -->
	<select id="noticeCount" resultType="int">
		SELECT /* noticeCount */
			COUNT(*)
		FROM
			NOTICE
		WHERE
			NO_STATE ="upload"
	</select>
	
	<!-- 전체 글 목록 -->
 	<select id="noticeList" parameterType="CriVO" resultType="noticeVO">
		SELECT /* noticeList */
			NO_NUM,
			NO_TITLE
		FROM 
			NOTICE
		WHERE  
			NO_STATE = "upload"
		ORDER BY
			NO_NUM DESC
		LIMIT
			#{pageStart},#{pageSize} 
	</select> 

	<!-- 게시글을 등록한다 -->
	<insert id="write" parameterType="noticeVO">
		INSERT INTO /* write */
			NOTICE
		(
			NO_TITLE
			, NO_CONTENT
		) 
		VALUES
		(
			#{noTitle}
			, #{noContent}
		)
	</insert>
	
	<!-- 파일 업로드 -->
	<insert id="fileUpload" parameterType="List">
		INSERT INTO /* fileUpload */
			FILE
		(
			FILE_NUM
			, NO_NUM
			, FILE_NAME
			, FILE_STATE
			, FILE_PATH
			, FILE_UUID
		) 
		VALUES
		<foreach item="file" collection="list" separator=",">
		(
			#{fileNum}
			, #{noNum}
			, #{fileName}
			, #{fileState}
			, #{filePath}
			, #{fileUuid}
		)
		</foreach>
	</insert>
	

	<!-- 글읽기 -->
	<select id="read" parameterType="int" resultType="noticeVO">
		SELECT /* read */
			NO_NUM,
			NO_TITLE,
			NO_CONTENT,
			NO_STATE
		FROM
			NOTICE 
		WHERE NO_NUM = #{noNum}
	</select>

	<!-- 글삭제 -->
	<update id="delete" parameterType="int">
		UPDATE /* delete */
			NOTICE
		SET
			NO_STATE = "delete" 
		WHERE
			NO_NUM = #{noNum}
	</update>

	<!-- 글수정 -->
	<update id="update" parameterType="int">
		UPDATE /* update */
			NOTICE
		SET
			NO_TITLE = #{noTitle},
			NO_CONTENT = #{noContent},
		WHERE
			NO_NUM = #{noNum}
	</update>
	

	

  </mapper>